# JDBC URL of the database
spring.datasource.url=jdbc:postgresql://localhost/ref_letters_db
# Login username of the database
spring.datasource.username=postgres
# Login password of the database
spring.datasource.password=pass123

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL81Dialect

# Default user name
spring.security.user.name=admin
# Password for admin
spring.security.user.password=pass123

info.app.name=Reference Letter Service
info.app.description=Backend service for reference letter management in the context of 'Distributed Systems' course at HUA DIT
info.app.version=1.0.0

# HTTP server port
server.port=9000
# Context path of the application
server.servlet.context-path=/reference-letters
# Default HTTP session time out
server.servlet.session.timeout=15m

# Endpoints to include by name or wildcard
management.endpoints.web.exposure.include=*
# Endpoints to exclude by name or wildcard
management.endpoints.web.exposure.exclude=health,info,beans,mapping
# Base path for actuator endpoints
management.endpoints.web.base-path=/actuator

# Log levels severity mapping
logging.level.org.springframework=DEBUG
logging.level.org.hibernate=TRACE
logging.level.com.luv2code=INFO
# Log file name
logging.file.name=reference-letter-service.log
spring.data.rest.base-path=/api

spring.main.allow-circular-references=true

spring.mail.host=smtp.gmail.com
spring.mail.port=25
spring.mail.username=appaccount@gmail.com
spring.mail.password=apppassword

# Other properties
spring.mail.properties.mail.debug=true
spring.mail.properties.mail.transport.protocol=smtp
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=5000
spring.mail.properties.mail.smtp.writetimeout=5000

# TLS , port 587
spring.mail.properties.mail.smtp.starttls.enable=true
