<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Student</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/addstudent}" th:object="${student}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="username" class="col-form-label">username</label>
                        <input type="text" th:field="*{user.username}" class="form-control" id="username" placeholder="username">
                        <span th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" th:field="*{user.password}" class="form-control" id="password" placeholder="password">
                        <span th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fullName" class="col-form-label">Full Name</label>
                        <input type="text" th:field="*{fullName}" class="form-control" id="fullName" placeholder="full name">
                        <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="email address">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="school" class="col-form-label">School</label>
                        <input type="text" th:field="*{school}" class="form-control" id="school" placeholder="school">
                        <span th:if="${#fields.hasErrors('school')}" th:errors="*{school}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="uniId" class="col-form-label">Uni ID</label>
                        <input type="text" th:field="*{uniId}" class="form-control" id="uniId" placeholder="uni id">
                        <span th:if="${#fields.hasErrors('uniId')}" th:errors="*{uniId}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="urlGradingFile" class="col-form-label">URL Grading File</label>
                        <input type="text" th:field="*{urlGradingFile}" class="form-control" id="urlGradingFile" placeholder="url grading file">
                        <span th:if="${#fields.hasErrors('urlGradingFile')}" th:errors="*{urlGradingFile}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Student">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>