<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Admin Panel - View Users</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/admin/}">Administration Panel</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/students}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/teachers}">Teacher Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/rl_requests}">Reference Letters Management</a>
              </li>
        </ul>
    </div>
</nav>

<div class ="container">

    <div class = "row">
        <h1> Welcome to the admin panel! </h1>
    </div>

    <div class = "row">
        <h3> You can manage registered users and reference letter requests from the navigation bar. </h3>
        <h4> If you just want to manage some user use this panel! </h4>
    </div>

    <div class = "row">
        <h1> List Users </h1>
    </div>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Username</th>
            <th> Full Name</th>
            <th> Email Address </th>
            <th> User Type </th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "user: ${userDetails}">
            <td th:text = "${user.username}"></td>
            <td th:text = "${user.fullName}"></td>
            <td th:text = "${user.email}"></td>
            <td th:text = "${user.type}"></td>
            <td>
                <a th:href = "@{/users/edit/{username}(id=${user.username})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/users/{id}(username=${user.username})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>