<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Reference Letter Requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- reference our style sheet -->
    <link type="text/css" rel="stylesheet"
          href="../css/main.css" />
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>Reference Letters Request List</h2>
    </div>
</div>

<div id="container">
    <div id="content">
        <!--  add our html table here -->
        <table>
            <tr>
                <th>ID</th>
                <th>ID Teacher</th>
                <th>ID Student</th>
                <th>Carrier Name</th>
                <th>Carrier Email</th>
            </tr>
            <!-- loop over and print our customers --> <!-- Correct it. Cause: No JSP, but Thymeleaf
             Possible solutions: a)turn to jsp, b) find corresponding forEach in Thymeleaf (if decided) -->
            <c:forEach var="referenceLetterRequest" items="${referenceLetterRequests}">

                <tr>
                    <td>${referenceLetterRequest.id}</td>
                    <td>${referenceLetterRequest.idTeacher}</td>
                    <td>${referenceLetterRequest.idStudent}</td>
                    <td>${referenceLetterRequest.carrierName}</td>
                    <td>${referenceLetterRequest.carrierEmail}</td>
                </tr>
            </c:forEach>
        </table>
    </div>
</div>

</body>
</html>