<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Admin Panel - View Teachers</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/admin/}">Administration Panel</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/students}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/teachers}">Teacher Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/rl_requests}">Reference Letters Management</a>
              </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1> List Teachers </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/admin/teachers/new}" class = "btn btn-primary btn-sm mb-3"> Add Teacher</a>
        </div>
    </div>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> ID </th>
            <th> Teacher </th>
            <th> Student </th>
            <th> Carrier Name </th>
            <th> Carrier Email </th>
            <th> Approved? </th>
            <th> Declined? </th>
            <th> Pending? </th>
            <th> Text </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "rl_request: ${rl_requests}">
            <td th:text = "${rl_request.id}"></td>
            <td th:text = "${rl_request.teacher.fullName}"></td>
            <td th:text = "${rl_request.student.fullName}"></td>
            <td th:text = "${rl_request.carrierName}"></td>
            <td th:text = "${rl_request.carrierEmail}"></td>
            <td th:text = "${rl_request.isApproved}"></td>
            <td th:text = "${rl_request.isDeclined}"></td>
            <td th:text = "${rl_request.isPending}"></td>
            <td th:text = "${rl_request.text}"></td>
            <td>
                <a th:href = "@{/rl_requests/edit/{id}(id=${teacher.id})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/rl_requests/{id}(id=${rl_request.id})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>